<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog - Login | Register</title>

    <link
      rel="shortcut icon"
      href="https://b-sample-work-space.storage.c2.liara.space/tech_blog/apple-touch-icon.png"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
  </head>

  <body>
    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <header>Login</header>
          <form action="/auth/login" method="post">
            <div class="field input-field">
              <input
                type="text"
                name="body"
                placeholder="Email or User Name"
                class="input"
              />
            </div>

            <div class="field input-field">
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="password"
              />
              <i class="fa fa-eye-slash eye-icon"></i>
            </div>

            <div class="field input-field">
              <input type="text" name="captchaVal" placeholder="captcha" />
            </div>

            <div class="field" style="display: flex; justify-content: center">
              <input
                type="hidden"
                name="captchaID"
                value="<%= captcha.captchaID %>"
              />
              <%- captcha.captchaSVG %>
            </div>

            <!-- <div class="form-link">
              <a href="#" class="forgot-pass">Forgot password?</a>
            </div> -->

            <div class="field button-field">
              <button>Login</button>
            </div>
          </form>

          <div class="form-link">
            <span
              >Don't have an account?
              <a href="#" class="link signup-link">Signup</a></span
            >
          </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
          <a href="/auth/google" class="field google">
            <i class="fa fa-google facebook-icon"></i>
            <span>auth with Google</span>
          </a>
        </div>
      </div>

      <!-- Signup Form -->

      <div class="form signup">
        <div class="form-content">
          <header>Signup</header>
          <form action="/auth/register" method="post">
            <div class="field input-field">
              <input
                type="text"
                class="input"
                name="firstname"
                placeholder="First Name"
              />
            </div>
            <div class="field input-field">
              <input
                type="text"
                class="input"
                name="lastname"
                placeholder="Last Name"
              />
            </div>
            <div class="field input-field">
              <input
                type="text"
                class="input"
                name="username"
                placeholder="User Name"
              />
            </div>
            <div class="field input-field">
              <input
                type="text"
                class="input"
                name="phone"
                placeholder="Phone Number"
              />
            </div>
            <div class="field input-field">
              <input
                type="email"
                class="input"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="field input-field">
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="password"
              />
            </div>
            <div class="field input-field">
              <input
                type="password"
                name="confirmPassword"
                placeholder="Confirm password"
                class="password"
              />
              <i class="fa fa-eye-slash eye-icon"></i>
            </div>
            <div class="field input-field">
              <input type="text" name="captchaVal" placeholder="captcha" />
            </div>

            <div class="field" style="display: flex; justify-content: center">
              <input
                type="hidden"
                name="captchaID"
                value="<%= captcha.captchaID %>"
              />
              <%- captcha.captchaSVG %>
            </div>

            <div class="field button-field">
              <button>Signup</button>
            </div>
          </form>

          <div class="form-link">
            <span
              >Already have an account?
              <a href="#" class="link login-link">Login</a></span
            >
          </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
          <a href="/auth/google" class="field google">
            <i class="fa fa-google facebook-icon"></i>
            <span>auth with Google</span>
          </a>
        </div>
      </div>
    </section>

    <!-- JavaScript -->
    <script src="/js/login.js"></script>
    <script src="/js/sweetalert_v2.js"></script>
    <script>
      if (Number("<%= info.length %>")) {
        swal.fire({
          title: "<%= info[0]?.title %>",
          text: "<%= info[0]?.text %>",
          icon: "<%= info[0]?.icon %>",
          button: "ok",
        });
      }
    </script>
  </body>
</html>
