<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Tech Blog -</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      rel="shortcut icon"
      href="https://b-sample-work-space.storage.c2.liara.space/tech_blog/apple-touch-icon.png"
      type="image/x-icon"
    />
    <!-- <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/css/static.css" />
  </head>
  <body>
    <div id="wrapper">
      <header class="tech-header header">
        <div class="container-fluid">
          <nav
            class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse"
          >
            <button
              class="navbar-toggler navbar-toggler-right"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"
              ><img
                src="https://b-sample-work-space.storage.c2.liara.space/tech_blog/tech-logo.png"
                alt=""
            /></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li
                  class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down"
                >
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="dropdown01"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >News</a
                  >
                  <ul
                    class="dropdown-menu megamenu"
                    aria-labelledby="dropdown01"
                  >
                    <li>
                      <div class="container">
                        <div
                          class="mega-menu-content clearfix p-3"
                          style="
                            max-width: 65rem;
                            background-color: rgb(243, 243, 243);
                            --darkreader-inline-bgcolor: #1f2123;
                          "
                        >
                          <% categories.forEach(cat => { %>
                          <a class="m-2" href="/category/<%= cat.id %>">
                            <%= cat.name %>
                          </a>
                          <% }) %>
                        </div>
                        <!-- end mega-menu-content -->
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <% if(currentUser) { %>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="/user/profile/<%= currentUser.username %>"
                    ><%= currentUser.username %></a
                  >
                </li>
                <% } else{ %>
                <li class="nav-item">
                  <a class="nav-link" href="/auth">login</a>
                </li>
                <% } %>
              </ul>
            </div>
          </nav>
        </div>
        <!-- end container-fluid -->
      </header>

      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
              <div class="page-wrapper">
                <hr class="invis" />

                <div id="blog-list" class="blog-list clearfix">
                  <% if(articles.length) { %> <% articles.forEach(article => {
                  %>
                  <div class="blog-box row">
                    <div class="col-md-4">
                      <div class="post-media">
                        <a href="/article/single/<%= article.slug %>" title="">
                          <% if(article.cover) {%>
                          <img
                            src="<%= article.cover %>"
                            alt=""
                            class="img-fluid"
                            style="height: 10rem"
                          />
                          <%} else {%>
                          <img
                            src="https://b-sample-work-space.storage.c2.liara.space/tech_blog/no-photo%20.jpg"
                            alt=""
                            class="img-fluid"
                            style="height: 10rem"
                          />
                          <%}%>
                          <div class="hovereffect"></div>
                        </a>
                      </div>
                      <!-- end media -->
                    </div>
                    <!-- end col -->

                    <div class="blog-meta big-meta col-md-8">
                      <h4>
                        <a href="/article/single/<%= article.slug %>" title=""
                          ><%= article.title %></a
                        >
                      </h4>
                      <p><%= article.description %> <b>...</b></p>
                      <br />
                      <small class="firstsmall"
                        ><a
                          class="bg-orange"
                          href="/category/<%= article['category.id'] %>"
                          title=""
                          ><%= article["category.name"] %></a
                        ></small
                      >
                      <small
                        ><a href="#" title=""
                          ><%= article.createdAt %></a
                        ></small
                      >
                      <small
                        ><a
                          href="/user/profile/<%= article['author.username'] %>"
                          >by <%= article["author.username"] %></a
                        ></small
                      >
                    </div>
                  </div>

                  <hr class="invis" />
                  <% }) %> <% } %>
                </div>
              </div>

              <hr class="invis" />
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="widget">
                <div class="footer-text text-left">
                  <a href="index.html"
                    ><img
                      src="https://b-sample-work-space.storage.c2.liara.space/tech_blog/tech-logo.png"
                      alt=""
                      class="img-fluid"
                  /></a>
                  <p>
                    Tech Blog is a technology blog, we sharing marketing, news
                    articles.
                  </p>
                  <div class="social">
                    <a
                      href="#"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Facebook"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Twitter"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Instagram"
                      ><i class="fa fa-instagram"></i
                    ></a>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Google Plus"
                      ><i class="fa fa-google-plus"></i
                    ></a>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Pinterest"
                      ><i class="fa fa-pinterest"></i
                    ></a>
                  </div>

                  <hr class="invis" />

                  <div class="newsletter-widget text-left">
                    <form class="form-inline" method="post" action="/join">
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter your email address"
                      />
                      <button type="submit" class="btn btn-primary">
                        SUBMIT
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <br />
              <div class="copyright">
                &copy; Tech Blog. Design:
                <a
                  href="https://www.free-css.com/free-css-templates/page244/tech-blog"
                  >HTML Design</a
                >.
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="dmtop">Scroll to Top</div>
    </div>

    <script>
      if (Number("<%= info?.length %>")) {
        swal.fire({
          title: "<%= info[0]?.title %>",
          text: "<%= info[0]?.text %>",
          icon: "<%= info[0]?.icon %>",
          button: "ok",
        });
      }
    </script>
  </body>
</html>
