<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Site Metas -->
    <title>Tech Blog - Update</title>
    <link
      rel="shortcut icon"
      href="https://b-sample-work-space.storage.c2.liara.space/tech_blog/apple-touch-icon.png"
      type="image/x-icon"
    />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="/css/static.css" />
    <link rel="stylesheet" href="/css/update.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond./js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color: #4070f4">
    <form
      class="form-control form"
      method="post"
      enctype="multipart/form-data"
      action="/user/update/<%= visitor.username %>"
    >
      <div class="alert alert-success mt-2">all the fields are require.</div>
      <br />

      <input type="file" name="profile" class="form-control mt-2" />
      <input
        type="text"
        class="form-control mt-2"
        name="firstname"
        value="<%= visitor.firstname %>"
        placeholder="First Name"
      />
      <input
        type="text"
        class="form-control mt-2"
        name="lastname"
        value="<%= visitor.lastname %>"
        placeholder="last Name"
      />
      <input
        type="text"
        class="form-control mt-2"
        name="username"
        value="<%= visitor.username %>"
        placeholder="User Name"
      />
      <input
        type="text"
        class="form-control mt-2"
        name="bio"
        value="<%= visitor.bio %>"
        placeholder="Biography"
      />
      <input
        type="email"
        class="form-control mt-2"
        name="email"
        value="<%= visitor.email %>"
        placeholder="Email"
      />
      <input
        type="text"
        class="form-control mt-2"
        name="phone"
        value="<%= visitor.phone %>"
        placeholder="Phone Number"
      />
      <input
        type="password"
        class="form-control mt-2"
        name="password"
        placeholder="Password"
      />
      <input
        type="text"
        class="form-control mt-2"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <button
        type="submit"
        class="btn btn-primary mt-2"
        style="cursor: pointer"
      >
        update my profile
      </button>
    </form>
    <script>
      if (Number("<%= info?.length %>")) {
        swal.fire({
          title: "<%= info[0]?.title %>",
          text: "<%= info[0]?.text %>",
          icon: "<%= info[0]?.icon %>",
          button: "ok",
        });
      }
    </script>
  </body>
</html>
